# ========================
# Maven
# ========================
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.jar
*.war
*.ear
*.class

# ========================
# IntelliJ IDEA
# ========================
.idea/
*.iws
*.iml
*.ipr
out/
.idea/modules.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries/
.idea/shelf/
.idea/aws.xml
.idea/httpRequests/
.idea/dataSources/
.idea/dataSources.local.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml
.idea/uiDesigner.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
desktop.ini

# ========================
# Logs
# ========================
*.log
logs/

# ========================
# Archivos temporales
# ========================
*.tmp
*.swp
*.bak

# ========================
# Distribución empacada
# ========================
dist-beta/
dependency-reduced-pom.xml